:root {
  --primary-color: #ff9854;
  --line-color: #f9f9f9;

  /* 全局修改: 任何地方只要用到-van-tabbar-item-icon-size都会被修改掉 */
  /* --van-tabbar-item-icon-size: 30px !important; */
}

body {
  font-size: 14px;
  font-family: Circular, "PingFang-SC";
}

/* 顶格页面，覆盖tabbar */
.top-page {
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;

  overflow-y: auto;
}

.bottom-gray-line {
  border-bottom: 1px solid var(--line-color);
}